/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  background-color: rgba(32, 32, 36, 1);
  color: #222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.site-header {
  height: 200px;
  background-color: rgba(18, 18, 20, 1);
}
.site-header__container {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
  position: relative;
}
.site-header__btn {
  width: 168px;
  height: 50px;
  padding: 0.75rem 1.25rem;
  border: 0;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: rgba(0, 135, 95, 1);
}
.site-header__btn:hover {
  opacity: 0.7;
}

.site-header__exchange-rate {
  position: absolute;
  top: 120px;
  display: flex;
  align-items: center;
  list-style: none;
}
.site-header__exchange-rate-item {
  width: 352px;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  border-radius: 0.375rem;
  background-color: rgba(50, 50, 56, 1);
}
.item-3 {
  background-color: rgba(1, 95, 67, 1);
}
.site-header__exchange-rate-item:not(:last-child) {
  margin-right: 2rem;
}
.exchange-item__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}
.exchange-item__description p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(196, 196, 204, 1);
}
.exchange-rate__sum {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  color: rgba(225, 225, 230, 1);
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding: 0;
}

.form {
  display: flex;
  align-items: center;
  margin-top: 7.5rem;
}
.form__input {
  width: 952px;
  padding: 1rem;
  margin-right: 1.25rem;
  border-radius: 0.375rem;
  border: 0;
  background-color: rgba(18, 18, 20, 1);
  color: rgba(124, 124, 138, 1);
}
.form__btn {
  display: flex;
  align-items: center;
  width: 152px;
  height: 54px;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 179, 126, 1);
  background-color: transparent;
  color: rgba(0, 179, 126, 1);
}
.form__btn img {
  margin: 0.75rem;
}
.form__btn:hover {
  opacity: 0.6;
}